body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

// Contenedor principal
.login-container {
  display: grid;
  grid-template-columns: 1.1fr 0.7fr;
  grid-template-rows: 1fr 1.6fr;
  row-gap: 10px;
  column-gap: 30px;
  width: 100vw;
  height: 100vh;
  padding: 10px 24px 10px 52px;
  box-sizing: border-box;
}

// Secci贸n de imagen ( Izquierda Completa)
.image-section {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: url('/assets/images/loginfoto.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 15px;
  position: relative;

  .marca {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 160px;
    height: auto;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(187, 230, 255, 0.5);
    border-radius: 15px;
    display: grid;
    place-items: center;
  }
}

// Secci贸n de logo ( Derecha Arriba)
.logo-section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;

  .logo {
    max-width: 210px;
    height: auto;
    padding: 8px 20px;
    margin-bottom: 10px;
  }
}

// Secci贸n de formulario ( Derecha Abajo)
.form-section {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(255, 255, 255);
  padding: 4px 24px 4px 24px;
  display: flex;
  flex-direction: column;
  height: 100%;

  h2 {
    font-size: 15px;
    font-weight: bold;
    color: var(--gris-1);
    text-align: center;
    margin-bottom: 1px;
    margin-top: 1px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    padding: 14px 20px 0px 20px;
    margin: 0 auto;
  }
}

// Campos del formulario
.p-field {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  position: relative;

  label {
    font-weight: 450;
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--gris-2);
  }

  input {
    width: 100%;
    height: 36px;
    padding: 6px 6px 6px 32px;
    border: 1px solid var(--gris-4);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 11px;

    &::placeholder {
      color: var(--gris-5);
    }

    &:focus {
      border-color: var(--azul) !important;
    }

    &[type="number"] {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  // Iconos dentro de los campos
  i,
  .material-symbols-outlined {
    position: absolute;
    left: 10px;
    top: 29px; // Posici贸n fija desde arriba
    font-size: 16px;
    color: var(--gris-5);
    z-index: 1;
  }

  .material-symbols-outlined {
    font-size: 18px;
  }
}

// Bot贸n
.p-button:focus {
  border-color: var(--azul) !important;
}

// Media queries para responsividad
@media (max-width: 768px) {
  .login-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 10px;
    row-gap: 20px;
  }

  .image-section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 250px;
  }

  .logo-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .form-section {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
