<div class="login-container">
  <div class="image-section">
    <div class="overlay"></div>
  </div>
  <div class="form-section">
    <img  [src]="imgLogo" alt="Logo" class="logo">
    <h2>Bienvenido</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div ngSkipHydration>
      <div class="p-field">
        <label for="documentNumber">Número de usuario</label>
        <div class="input-wrapper">
          <i class="pi pi-user"></i>
          <input pInputText id="documentNumber" type="number" placeholder="Ingrese su número de identificación"
            formControlName="documentNumber" [required]="true" appNotificadorErrorInput />
          </div>
        </div>

      </div>

      <div ngSkipHydration></div>
      <div class="p-field">
        <label for="password">Contraseña</label>
        <div class="input-wrapper">
          <span class="material-symbols-outlined">lock</span>
          <input pInputText id="password" formControlName="password" type="password" placeholder="Ingrese su contraseña"
          [required]="true"  appNotificadorErrorInput />
          </div>
        </div>
      </div>
      <app-button label="INICIAR SESIÓN" type="submit"></app-button>
    </form>
  </div>
</div>
