body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

// Contenedor principal
.login-container {
  display: grid;
  grid-template-columns: 1.1fr 0.7fr;
  grid-template-rows: 1fr 1.6fr;
  row-gap: 10px;
  column-gap: 30px;
  width: 100vw;
  height: 100vh;
  padding: 10px 24px 10px 52px;
  box-sizing: border-box;
}

// Sección de imagen (🔴 Izquierda Completa)
.image-section {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: url('/assets/images/loginfoto.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 15px;
  position: relative;

  .marca {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 160px;
    height: auto;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(187, 230, 255, 0.5);
    border-radius: 15px;
    display: grid;
    place-items: center;
  }
}

///////////* 🔵 Logo (Derecha Arriba) *///////////
.logo-section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}

.logo {
  max-width: 250px;
  height: auto;
  padding: 8px 20px;
  margin-bottom: 4px;
}

.marca {
  position: absolute;
  top: 20px;   /* Ajusta la distancia desde arriba */
  max-width: 100px;
  height: auto;
  margin-top: 40px;
  filter: grayscale(50%); /* Convierte la imagen a blanco y negro */
}



///////////*  🟢 Formulario (Derecha Abajo)  *///////////
.form-section {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(255, 255, 255);
  padding: 4px 24px 4px 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px; /* 🔹 Reserva espacio */
  padding: 10px;
  text-align: center;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #48bb78; /* Color de fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  color: var(--gris-1);
  text-align: center;
  margin-bottom: 1px;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
  padding: 14px 20px 0px 20px;
  margin: 0 auto;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 11.5px;
  font-weight: 500;
  color: var(--gris-2);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1px 30px 1px 30px;
}

@media (max-width: 768px) {
  .login-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 10px;
    row-gap: 20px;
  }
  .image-section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 250px;
  }
  .logo-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .form-section {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}








