body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.login-container {
  display: grid;
  grid-template-columns: 1.1fr 0.7fr; /* Ajuste responsive */
  grid-template-rows: 1fr 1.6fr; /* 🔵 Arriba | 🟢 Abajo */
  row-gap: 10px;
  column-gap: 30px;
  width: 100vw;
  height: 100vh;
  padding: 10px 24px 10px 52px;
  box-sizing: border-box;
}



///////////*  🔴 Imagen (Izquierda Completa) ///////////*
.image-section {
  grid-column: 1 / 2;
  grid-row: 1 / 3; /* Ocupa ambas filas */
  background: url('/assets/images/loginfoto.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 15px;
  position: relative;
}

/* .marca {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 10px;
  height: auto;
} */

.marca {
  position: absolute;
  top: 20px;   /* Ajusta la distancia desde arriba */
  right: 20px; /* La mueve a la derecha */
  max-width: 160px;
  height: auto;
}


.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(187, 230, 255, 0.5);
  border-radius: 15px;
  display: grid;
  place-items: center;
}



///////////* 🔵 Logo (Derecha Arriba) *///////////
.logo-section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}

.logo {
  max-width: 210px;
  height: auto;
  padding: 8px 20px;
  margin-bottom: 10PX;
}



///////////*  🟢 Formulario (Derecha Abajo)  *///////////
.form-section {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(255, 255, 255);
  padding: 4px 24px 4px 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  color: var(--gris-1);
  text-align: center;
  margin-bottom: 1px;
  margin-top: 1px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
  padding: 14px 20px 0px 20px;
  margin: 0 auto;
}

.p-field {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

label {
  font-weight: 450;
  margin-bottom: 5px;
  font-size: 11px;
  color: var(--gris-2);
}

input::placeholder {
  color: var(--gris-5);
}

input{
  width: 100%;
  height: 32px;
  padding: 6px;
  border: 1px solid var(--gris-4);
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 11.4px;
}



input:focus {
  border-color: var(--azul) !important;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-wrapper i, .input-wrapper span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--gris-5);
}

.input-wrapper span {
  left: 6px !important;
}

.input-wrapper input {
  padding-left: 32px;
}

.resetpass {
  color: var(--gris-4);
  font-size: 7.7px;
  margin-top: 3px;
}


.error-container {
  display: none; /* Oculta el contenedor por defecto */
  transition: all 0.4s ease;
}

.error-container:has(.error-text) {
  display: block; /* Muestra el contenedor cuando tiene un error */
  min-height: 8px;
  margin-top: 18px;
}

.error-text {
  color: red;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 2px 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.login-button{
  margin-top: 8px;
}

.return-home {
  margin-top: 14px;
  text-align: center;
}

.return-home a {
  font-size: 10.5px;
  color: var(--azul);
  text-decoration: none;
}

.return-home a:hover {
  text-decoration: underline;
}

.return-home a i,
.return-home a::before {
  margin-right: 8px;
  font-size: 12px;
  color: #7bc4f1;
  position: relative;
  top: 2px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .login-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 10px;
    row-gap: 20px;
  }
  .image-section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 250px;
  }
  .logo-section {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .form-section {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
