<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="login-container">
  <div class="image-section">
    <div class="overlay"></div>
  </div>
  <div class="form-section">
    <img src="../../assets/images/logo_grh (1).svg" alt="Logo" class="logo">
    <h2>Bienvenido</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="password"> Nueva contraseña</label>
        <div class="input-wrapper">
          <span class="material-symbols-outlined">lock</span>
          <input pInputText id="password" type="password" placeholder="Ingrese su nueva contraseña"
            formControlName="password" />
        </div>
        <small class="resetpass">La contraseña debe tener al menos 8 caracteres, incluyendo mayúsculas, minúsculas, un
          número y un símbolo.</small>
      </div>

      <!-- Campo de contraseña -->
      <div class="p-field">
        <label for="password"> Confirmar contraseña</label>
        <div class="input-wrapper">
          <span class="material-symbols-outlined">lock</span>
          <input pInputText id="passwordConfirm" type="password" placeholder="Confirme su nueva contraseña"
            formControlName="passwordConfirm" />
        </div>
      </div>

      <!-- Mensaje de error -->
      <div class="error-container">
        <p *ngIf="showError" class="error-text">
          Digite los datos correctamente
        </p>
      </div>

      <!-- Botón de enviar -->
      <app-button label="CONFIRMAR" type="submit"></app-button>



      <!-- Enlace de "Olvidaste tu contraseña" -->
      <div class="return-home">
        <a (click)="navigateToLoginRestablecer()"><i class="pi pi-arrow-left"></i> Vuelve a la pantalla de Inicio de Sesión</a>
      </div>
    </form>
  </div>
</div>
